body {
   
  background-color: black;
  color: white;
  text-align: center;
  }
  #choices {
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: center;
  }
  
  #game {
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: center;
  }
  #compChoices {
    display: flex;
    padding: 20px;
  }
  
  .box {
    /* border: 5px solid green; */
    height: 200px;
    width: 200px;
    padding: 20px;
    display: flex;


  }
  .choice {
    /* border: 5px solid green; */
    height: 200px;
    width: 200px;
    padding: 20px;
    display: flex;
    
  }
 
  
  #gameBoard {
    display:flex;
    padding: 20px;
    flex-direction: row;
    justify-content: center;
  }
  
  img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }